
<div class="ui card">
        <div class="image">
          <img src="<%= blog.image %>">
        </div>
        <div class="content">
          <a class="header"><%= blog.title %></a>
          <div class="meta">
            <span class="date">Created at <%= blog.created.toDateString() %></span>
          </div>
          <div class="description">
          <p><%- blog.body %></p>
          </div>
        </div>
        <div class="extra content">
          <a>
            <i class="user icon"></i>
            22 Friends Read This
          </a>
        </div>
      </div>
      